<a href="https://colab.research.google.com/github/Robertocarbonee/DS1002-mvu2pj/blob/main/homework/week-4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 4

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

## 1. Data Types

```python
s = "Fox"
x = 17
y = "3"
z = "false"
```

Using the variables above answer these questions:

In [2]:
# Write a snippet of code that displays the data type (class) of `s`
s = "Fox"
x = 17
y = "3"
z = "false"
type(s)

str

In [3]:
# Write a snippet of code that adds `x` and `y` and displays their sum.
s = "Fox"
x = 17
y = "3"
z = "false"

int(y)+ x

20

In [4]:
# How might you transform z into a boolean value, if you had to? Be creative.
z = False

- - -

## 2. Lists

    mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]

Using the list above, answer these questions:

In [5]:
# Write a snippet of code that prints out "Tempe"
mylist = ["Chicago","New Orleans", "Tempe", "Denver", "Nashville", "Albany"]
mylist[2]

'Tempe'

In [6]:
# Write a snippet of code that adds "Atlanta" to this list and displays the extended list.
mylist.append("Atlanta")
print(mylist)

['Chicago', 'New Orleans', 'Tempe', 'Denver', 'Nashville', 'Albany', 'Atlanta']

In [11]:
# Write a snippet of code that prints out only "New Orleans", "Tempe", "Denver".
mylist[1:4]

['New Orleans', 'Tempe', 'Denver']

- - -

# 3. Dictionaries

    mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}

Answer the following questions:

In [16]:
# Write a snippet of code that returns "Trenton".
mydict = {"VA":"Richmond", "NC":"Raleigh", "NJ":"Trenton", "PA":"Harrisburg", "NY":"Albany"}

mydict["NJ"]

'Trenton'

In [21]:
# Write a snippet of code that adds "CO":"Denver" to `mydict`.
# Remember the built-in .update({'key': 'value'}) method.
mydict.update({"CO":"Denver"})
print(mydict)

{'VA': 'Richmond', 'NC': 'Raleigh', 'NJ': 'Trenton', 'PA': 'Harrisburg', 'NY': 'Albany', 'CO': 'Denver'}

In [33]:
# Write a snippet of code that returns all the keys in `mydict`
mydict = {'VA': 'Richmond', 'NC': 'Raleigh', 'NJ': 'Trenton', 'PA': 'Harrisburg', 'NY': 'Albany', 'CO': 'Denver'}
keys = mydict.keys()
keys_list = list(keys)
print(keys_list)

['VA', 'NC', 'NJ', 'PA', 'NY', 'CO']

- - -

# 4. NumPy Arrays

Create an `ndarray` that contains the following values and assign the array to a variable.

    2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37

Using that variable, answer the following questions:

In [34]:
# Write a snippet of code that prints the data type of the elements in the array.
import numpy as np
array = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37])
print(array.dtype)

int64

In [36]:
from numpy.core.multiarray import ndarray
# Write a snippet of code that displays `11` from the array.
array[4]

11

In [37]:
# Write a snippet of code that multiplies each array element by `7` and displays the new values.
array*7

array([ 14,  21,  35,  49,  77,  91, 119, 133, 161, 203, 217, 259])