<a href="https://colab.research.google.com/github/Robertocarbonee/DS1002-mvu2pj/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [28]:
pippo = 0
while pippo <= 20:
    if pippo % 2 == 0:
        print("Even:", pippo)
    pippo += 1

Even: 0
Even: 2
Even: 4
Even: 6
Even: 8
Even: 10
Even: 12
Even: 14
Even: 16
Even: 18
Even: 20

## For-Loops with Lists

In [29]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [33]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for things in mylist:
  print(things)

9
15
23
4
92
47
33
17
-4
18
38
-242

In [62]:
for things in mylist:
  if things is things<0:
    continue
  else:
      print(things)

9
15
23
4
92
47
33
17
18
38

In [80]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for thing in mylist:
    if thing < 0:
        absolute_value = abs(thing)
        print(absolute_value)
    else:
        print(thing)

9
15
23
4
92
47
33
17
4
18
38
242

In [97]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for thing in mylist:
    if 20 < thing < 40:
        continue
    print(thing)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [103]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [105]:
# Write a command to print out all the keys of this dict
capitals.keys()

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [107]:
# Write a command to print out all the values of this dict
capitals.values()

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [108]:
# Write a command to print all the keys and values for this dict
print(capitals)

{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London', 'Thailand': 'Bangkok', 'Brazil': 'Brasilia'}

In [125]:
# Write a command to print only the first three values and NOTHING more.
capitals = {
    'United States': 'Washington DC',
    'Italy': 'Rome',
    'England': 'London',
    'Thailand': 'Bangkok',
    'Brazil': 'Brasilia'
}

count = 0
for country, capital in capitals.items():
    if count < 3:
        print(capital)
        count += 1
    else:
        break

Washington DC
Rome
London